/* *,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
} */
/* h1,h2,h3,li{
    font-family: 'Trebuchet MS';
} */

body{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   padding-inline: 2rem;
   gap: 5rem;
   max-width: 1450px;
   margin: auto;
}

nav a{
    text-decoration: none;
    color: rgb(88, 79, 79);
    font-size: 22px;
}
.logo{
    width: 22px;
}
#logo{
    width: 80px;
}
.one{
    display: flex;
    margin: auto;
}
#nickname{
    font-size: 40px;
    font-weight: 100;
}
#btc{
    width: 35px;
    margin-bottom: -2px;
    margin-right: -3px;
}
.one h2{
    font-size: 40px;
}

.one div img{
    width: 30px;
    margin-bottom: -5px;
    margin-left: 10px;
    margin-top: 5rem;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    Padding-inline: 0rem;
}
nav ul{
    display: flex;
    list-style: none;
    width: 100%;
}
 nav li{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    margin: 13px;
    font-size: 19px;
    border-bottom: 5px solid #cc183c;
    padding: 10px;
    border-radius: 9px;
}
article{
    display: flex;
}
.one{
    display: flex;
}
.one-header{
    /* padding: 3rem; */
    width: 50%;
}
.one h1{
    font-size: 50px;
}
.one p{
    font-size: 25px;
    width: 80%;
}
.one img{
    margin: 0px;
    width: 100%;
}
.two{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem;
}
#services{
    background-color: #ffffff ;
    color: rgb(0, 0, 0);
    padding: 0rem;
}
.two h4{
    margin: auto;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}
.three, .four{
    display: flex;
    gap: 5rem;
    font-size: 22px;
    width: 100%;
}
.three div,.four div{
    width: 33.33%;
}
.five{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}
.vid{
    display: flex;
    width: 1380px;
    margin: auto;
}
#vid{
    width: 100%;
    height: 500px;
}
.five-left{
    display: flex;
    flex-direction: column;
}
.five-left h1{
    font-size: 40px;
    padding-left: 10px;
    border-left: 5px solid #cc183c;
}
.five-right{
    font-size: 28px;
    width: 100%;
}
.six{
    display: flex;
    flex-direction: column;
    gap: -3rem;
   align-items: center;
   justify-content: center;
   margin: auto;
   width: 100%;
   margin-bottom: -5rem;
   overflow: hidden;
   width: 80%;
}
.six div{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-around; */
    box-sizing: content-box;
    align-items: center;
    margin: auto;
    gap: 4rem;
    width: 95%;
   
    
}

.six div:hover{
    cursor: pointer;
    animation: all 10s ease-in .5s;
}

@keyframes all {
    0%{
    transform: translatex(0px);
    }
    25%{
    transform: translatex(-100px);
    }
    50%{
    transform: translatex(-500px);
    }
    75%{
    transform: translatex(-1450px);
    }
    100%{
    transform: translatex(0px);
    }
}
#brand2, #brand1{
    margin: auto;
}
#bUNN{
    margin-bottom: -3rem;
    margin-inline: -3rem;
}
.six h1{
    font-size: 60px;
}
.six img{
    height: 5vw;
    width: 300px;
    margin-right: 2rem;
}
#com{
    margin-top: -5rem;
    font-size: 50px;
    margin: auto;
    padding-top: 2rem;
    transform: translateY(5rem);
}
.three h2, .four h2, .ten li{
    padding-left: 8px;
    border-left: 5px solid #cc183c;
}
#com{
    padding-bottom: .5rem;
    border-bottom: 5px solid #cc183c;
}
.seven{
    display: flex;
    gap: 2rem;
    /* width: 80%; */
   align-items: center;
}
.seven-left{
    width: 50%;
}
.seven-left img{
    width: 100%;
    background-color: azure;
}
.seven-right{
    font-size: 30px;
    width: 50%;
}
.seven-right img{
    width: 40px;
}
/* .seven-right p{
    width: 100%;
} */
#web{
    margin-bottom: -13px;
    margin-left: 3px;
}
.seven-right button, .nine button{
    font-size: 20px;
    padding: 10px;
    background-color: #cc183c;
    color: white;
    font-weight: bolder;
    border: none;
}
.eight{
    display: flex;
    gap: 3rem;
    align-items: center;
    margin: auto;
    width: 100%;
}
.eight-left{
    width: 50%;
    font-size: 30px;
}
.eight-left img{
    width: 44px;
    margin-right: 1rem;
}
#mail{
    transform: translateY(10px);
}
.eight-left h1{
   font-size: 60px;
}
.nine{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin: auto;
}
.nine header, .ten header, .eleven header{
    margin: auto;
    font-size: 35px;
}
.nine header h1{
    padding-bottom: 0.5rem;
}
 #com{
    border-bottom: 5px solid #cc183c;
}
.nine main{
    display: flex;
    gap: 5rem;
    margin-bottom: 3rem;
}
.nine main div{
    width: 33%;
}
.nine img{
    width: 90%;
    height: 29vh;
}
.nine a{
    font-size: 22px;
    text-decoration: none;
    color: #228b22;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nine button{
    width: 10%;
}
.ten{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ten main{
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
}
.ten ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 22px;
    gap: 1rem;
}
.ten ul img{
    Margin-inline: 5px;
    transform: translateY(5px);
}
.ten ul span{
    color: #228b22;
    font-weight: bolder;
    padding-left: 4px;
}
.eleven{
    display: flex;
    flex-direction: column;
    margin: 0rem;
}
.eleven img{
    width: 600px;
}
.eleven main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
   
}
.eleven div{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    font-weight: 100;
    padding-top: 10px;
    margin-bottom: -3.5rem;
}
.eleven div {
    width: 100%;
}
.exp{
    width: 100%;
    height: 0.1vw;
    background-color: #cc183c;
    border: none;
}

footer{
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(61, 56, 56);
    height: 15vh;
    padding: 2rem;
    color: white;
    margin: 0px -2rem;
}
footer img{
    margin: 3px;
    width: 25px;
}

/* 
@media only screen and (max-width: 1450px) {
    body{
        
    }
    } */
    
@media only screen and (max-width: 420px){
    /* .one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten,.eleven,footer{
   border: 1px solid black;
} */
body{
    padding-inline: 1rem;
    gap: 2rem;
    margin: 0;
    /* overflow-x: hidden; */
    padding-inline: 10px;
    width:90%;
    align-items: center;
}
nav{
    display: none;
}
  .one{
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .one-header, .one main{
    width: 95%;
  }
  .one h1{
    font-size: 35px;
  }
  #nickname{
    font-size: 30px;
  }
  #btc{
    width: 25px;
  }
  .one p{
    font-size: 20px;
    width: 100%;
  }
  .one h2{
    margin-top: -5rem;
    margin-bottom: 2rem;
    font-size: 20px;
  }
  .one h2 img{
    width: 12px;
    transform: translateY(-.2rem);
  }
 .five{
    max-width: 370px;
 }
  .vid{
    width: 100%;
    margin: 0;
  }
  #vid{
    height: 300px;
    width: 380px;
  }
  .five-left h1{
    font-size: 30px;
}
.five-right{
    font-size: 20px;
}
.two{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    max-width: 390px;
}
.two h4{
    font-size: 25px; 
}
.three, .four{
    flex-direction: column;
    gap: 0rem;
    font-size: 15px;
    max-width: 390px;
}
.three h2, .four h2{
    font-weight: 300;
}
.three div,.four div{
    width: 95%;
}
.six{
    gap: 0rem;
   align-items: center;
   justify-content: center;
   margin: 0;
   margin-bottom: 0rem;
   overflow: hidden;
   width: 95%;
}
.six div{
    justify-content: space-around;
    margin: 0;
    gap: 1.3rem;
    width:95%;
}
.six h1{
    font-size: 25px;
    text-align: center;
}
.six img{
    height: 13vw;
    width: 300px;
}
#aax{
    height: 5vw;
}
#com{
    font-size: 25px;
    margin: 0;
    width: 95%;
    transform: translateY(0rem);
}
.seven{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    /* width: 80%; */
   align-items: center;
   max-width: 380px;
}
.seven-left{
    width: 100%;
}
.seven-left img{
    width: 100%;
    background-color: azure;
}
.seven-right{
    font-size: 20px;
    width: 95%;
}
.seven-right img{
    width: 20px;
}
#web{
    margin: -5px 2px;
}
.seven-right button, .nine button{
    font-size: 14px;
    padding: 5px;
}
.ten{
    display: flex;
    flex-direction: column;
    max-width: 380px;
}
.ten main{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 95%;
    margin-left: -6rem;
}
.ten header, .eleven header, .nine header{
    font-size: 20px;
    margin-bottom: -1rem;
    margin-top: -1rem;
}
.eleven{
    display: flex;
    flex-direction: column;
    margin: 0rem;
    max-width: 400px;
}
.eleven img{
    width: 100%;
}
.eleven main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
   
}
.eleven div{
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: center;
    font-weight: 100;
    padding-top: 10px;
    margin-bottom: 0rem;
}
.eleven div {
    width: 100%;
}
hr{
    display: none;
}
.exp{
    width: 100%;
    height: 0.1vw;
    background-color: #cc183c;
    border: none;
}
.nine{
    max-width: 370px;
    margin-top: 1rem;
}
.nine main{
    flex-direction: column;
}
.nine main{
    display: flex;
    gap: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
.nine main div{
    width: 100%;
}
.nine img{
    width: 100%;
    height: 29vh;
}
.nine button{
    width: 30%;
}
.eight{
    max-width: 420px;
    flex-direction: column-reverse;
}
.eight-left{
    width: 100%;
    font-size: 20px;
}
.eight-left img{
    width: 24px;
    margin-right: 1rem;
}
#mail{
    transform: translateY(5px);
    margin-right: 0px;
}
.eight-left h1{
   font-size: 40px;
}
.eight-right img{
    width: 100%;
}
footer{
    flex-direction: column;
    width: 100%;
}
footer div{
    font-size: 20px;
}
footer div img{
    width: 17px;
    margin-bottom: -2px;
}
}
